body {
  background: #2B372E;
  font-family: 'Roboto', sans-serif;
}
.wrapper {
  margin: 15% 40%;
  overflow: hidden;
  width: 250px;
  height: 270px;
  background: #437059;
  border-radius: 20px;
}
.main {
  margin: 0 auto ;
  margin-top: 5px;
  width: 220px;
}
.display input {
  background: #ffffff;
  margin: 3px;
  overflow: hidden;
  width: 207px;
  height: 30px;
  border-radius: 40px;
}
.buttons input {
  background: #558058;
  margin: 0 auto;
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  font-size: 24px;

}
.buttons input:hover {
  background: #79b57d;
  transition: easy-out;
}
